*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "KoolBean";
    src: url("./KoolBean.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "KoolBean", monospace;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
    justify-content: space-between;
}

.header {
    display: flex;
    font-size: 23px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #27102f; /*midnight violet*/
    color: #c3f73a; /*chartreuse*/
}

.jesse-pinkman {
    font-size: 48px;
}

.links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #c3f73a
}

.footer {
    padding: 25px;
    font-size: 20px;
    background-color: #27102f;
    color: #c3f73a;
    text-align: center;
}

.header, .footer {
    padding-left: 200px;
    padding-right: 200px;
}
.container {
    flex: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    color: #c3f73a;
    padding: 50px 200px;
}


#cont1 {
    justify-content: space-between;
    background-color: #27102f;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#jesse-img {
    border-radius: 20%;
    border-style: outset;
    max-height: 400px;
}

.content {
}

.content-heading {
    font-size: 48px;
}

.btn {
    text-align: center;
    padding: 10px 20px;
    font-family: "KoolBean";
    font-size: 19px;
}