*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "KoolBean";
    src: url("./KoolBean.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "KoolBean", monospace;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
    justify-content: space-between;
}

.header {
    display: flex;
    font-size: 23px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #27102f; /*midnight violet*/
    color: #c3f73a; /*chartreuse*/
}

.jesse-pinkman {
    font-size: 48px;
}

.links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #c3f73a
}

.footer {
    padding: 25px;
    font-size: 20px;
    background-color: #27102f;
    color: #c3f73a;
    text-align: center;
}

.header, .footer {
    padding-left: 150px;
    padding-right: 150px;
}

.container {
    flex: auto;
    display: flex;
    justify-content: space-between;
    color: #c3f73a;
    padding: 50px 150px;
    border-bottom: solid;
    border-width: 5px;
}

#cont1 {
    background-color: #27102f;
    gap: 50px;
    border-color: #980b7c;
}

#jesse-img {
    border-radius: 20%;
    border-style: solid;
    max-height: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-heading {
    font-size: 58px;
}

.content-desc {
    font-size: 25px;
    font-weight: 0.5;
}

.btn {
    text-align: center;
    padding: 10px 20px;
    font-family: "KoolBean";
    font-size: 19px;
    background-color: #d98324;
    color: #27102f;
    border-style: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}

#cont2 {
    color: #a40606;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d98324;
    gap: 20px;
}

.info-header {
    font-size: 48px;
}

.item-container {
    gap: 50px;
    display: flex;
    flex-flow: row wrap;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap-mode: wrap;
    width: 300px;
    gap: 15px;
    font-size: 20px;
}

.item img {
    border: #c3f73a;
    border-style: solid;
    border-radius: 30px;
    object-fit: cover;
    height: 200px;
}

#cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #980b7c;
    color: #c3f73a;
    gap: 20px;
    border-color: #27102f;
}

.quote-text {
    font-size: 36px;
    width: 600px;
    text-wrap-mode: wrap;
    word-spacing: 3px;
}

.quote-by {
    font-size: 20px;
    text-align: end;
    width: 600px;
}